*.la
*.o
*.lo
*Makefile.in
*Makefile
*.deps
*.libs
*.swp
config\.*
configure
autom4te.cache/
depcomp
install-sh
aclocal.m4
libtool
ltmain.sh
missing
stamp-h1
tools/arff/lpi_arff
tools/find_unknown/lpi_find_unknown
tools/protoident/lpi_protoident
